@charset "UTF-8";
/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * PaxRenaissance implementation : © <Your name here> <Your email address here>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * paxrenaissance.css
 *
 * PaxRenaissance stylesheet
 *
 */
/**
 * All base constants to be used in other sass files.
 */
.bga-zoom-out-icon {
  width: 48px;
  height: 48px;
  background: url('data:image/svg+xml;utf8,<svg width="100%" height="100%" viewBox="65 0 70 70" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;"><g><g transform="matrix(1,0,0,1,-4.97116,-76.2244)"><path d="M118,118C122.1,113.8 124.3,108.7 124.3,102.8C124.3,96.8 122.1,91.8 118,87.6C113.8,83.4 108.7,81.3 102.8,81.3C96.8,81.3 91.8,83.4 87.6,87.6C83.3,91.8 81.3,96.8 81.3,102.8C81.3,108.7 83.3,113.8 87.6,118C91.8,122.2 96.8,124.3 102.8,124.3C108.7,124.3 113.8,122.2 118,118" style="fill:none;fill-rule:nonzero;stroke:black;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-4.97116,-76.2244)"><path d="M118,118L132.3,132.3" style="fill:none;fill-rule:nonzero;stroke:black;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-4.97116,-76.2244)"><path d="M114.5,102.1L90.8,102.1" style="fill:none;fill-rule:nonzero;stroke:black;stroke-width:7px;"/></g></g></svg>');
}

.bga-zoom-button {
  cursor: pointer;
}

.bga-zoom-button.disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.bga-zoom-in-icon {
  width: 48px;
  height: 48px;
  background: url('data:image/svg+xml;utf8,<svg width="100%" height="100%" viewBox="0 0 70 70" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;"><g><g transform="matrix(1,0,0,1,-7.91703,-76.2244)"><path d="M23.8,102.1L35.7,102.1" style="fill:none;fill-rule:nonzero;stroke:black;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-7.91703,-76.2244)"><path d="M35.7,102.1L47.5,102.1" style="fill:none;fill-rule:nonzero;stroke:black;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-7.91703,-76.2244)"><path d="M35.7,102.1L35.7,90.3" style="fill:none;fill-rule:nonzero;stroke:black;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-7.91703,-76.2244)"><path d="M51,118C55.2,113.8 57.3,108.7 57.3,102.8C57.3,96.8 55.2,91.8 51,87.6C46.8,83.4 41.7,81.3 35.8,81.3C29.9,81.3 24.8,83.4 20.6,87.6C16.4,91.8 14.3,96.8 14.3,102.8C14.3,108.7 16.4,113.8 20.6,118C24.8,122.2 29.9,124.3 35.8,124.3C41.7,124.3 46.8,122.2 51,118" style="fill:none;fill-rule:nonzero;stroke:black;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-7.91703,-76.2244)"><path d="M35.7,113.9L35.7,102.1" style="fill:none;fill-rule:nonzero;stroke:black;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-7.91703,-76.2244)"><path d="M65.3,132.3L51,118" style="fill:none;fill-rule:nonzero;stroke:black;stroke-width:7px;"/></g></g></svg>');
}

.pr_button {
  cursor: pointer;
}

.pr_button.disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

#pr_game_map_container {
  margin-left: 8px;
  margin-right: 8px;
  margin-bottom: 8px;
}

#pr_game_map {
  background-image: url("img/board.webp");
  background-size: 1500px 1500px;
  background-repeat: no-repeat;
  position: relative;
  height: 1500px;
  width: 1500px;
  box-shadow: 1px 1px 5px #000;
  transform-origin: top left;
}

.pr_game_map_zoom_buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 56px;
}

/* ------- MAP CARDS ------- */
.pr_map_card {
  box-sizing: border-box;
  width: 151px;
  height: 230px;
  position: absolute;
  background-size: 1000% 300%;
  background-repeat: no-repeat;
}

.pr_map_card[data-card-id=catholic_england] {
  border: 1px black solid;
  box-shadow: 2px 2px 5px -1px #000;
  border-radius: 5px;
  background-image: url("img/map_cards.webp");
  background-position-x: 0%;
  background-position-y: 0%;
}

.pr_map_card[data-card-id=catholic_france] {
  border: 1px black solid;
  box-shadow: 2px 2px 5px -1px #000;
  border-radius: 5px;
  background-image: url("img/map_cards.webp");
  background-position-x: 11.1111111111%;
  background-position-y: 0%;
}

.pr_map_card[data-card-id=catholic_holy_roman_empire] {
  border: 1px black solid;
  box-shadow: 2px 2px 5px -1px #000;
  border-radius: 5px;
  background-image: url("img/map_cards.webp");
  background-position-x: 22.2222222222%;
  background-position-y: 0%;
}

.pr_map_card[data-card-id=catholic_hungary] {
  border: 1px black solid;
  box-shadow: 2px 2px 5px -1px #000;
  border-radius: 5px;
  background-image: url("img/map_cards.webp");
  background-position-x: 33.3333333333%;
  background-position-y: 0%;
}

.pr_map_card[data-card-id=catholic_byzantium] {
  border: 1px black solid;
  box-shadow: 2px 2px 5px -1px #000;
  border-radius: 5px;
  background-image: url("img/map_cards.webp");
  background-position-x: 44.4444444444%;
  background-position-y: 0%;
}

.pr_map_card[data-card-id=catholic_portugal] {
  border: 1px black solid;
  box-shadow: 2px 2px 5px -1px #000;
  border-radius: 5px;
  background-image: url("img/map_cards.webp");
  background-position-x: 55.5555555556%;
  background-position-y: 0%;
}

.pr_map_card[data-card-id=catholic_aragon] {
  border: 1px black solid;
  box-shadow: 2px 2px 5px -1px #000;
  border-radius: 5px;
  background-image: url("img/map_cards.webp");
  background-position-x: 66.6666666667%;
  background-position-y: 0%;
}

.pr_map_card[data-card-id=catholic_papal_states] {
  border: 1px black solid;
  box-shadow: 2px 2px 5px -1px #000;
  border-radius: 5px;
  background-image: url("img/map_cards.webp");
  background-position-x: 77.7777777778%;
  background-position-y: 0%;
}

.pr_map_card[data-card-id=catholic_ottoman] {
  border: 1px black solid;
  box-shadow: 2px 2px 5px -1px #000;
  border-radius: 5px;
  background-image: url("img/map_cards.webp");
  background-position-x: 88.8888888889%;
  background-position-y: 0%;
}

.pr_map_card[data-card-id=catholic_mamluk] {
  border: 1px black solid;
  box-shadow: 2px 2px 5px -1px #000;
  border-radius: 5px;
  background-image: url("img/map_cards.webp");
  background-position-x: 100%;
  background-position-y: 0%;
}

.pr_map_card[data-card-id=islamic_england] {
  border: 1px black solid;
  box-shadow: 2px 2px 5px -1px #000;
  border-radius: 5px;
  background-image: url("img/map_cards.webp");
  background-position-x: 0%;
  background-position-y: 50%;
}

.pr_map_card[data-card-id=islamic_france] {
  border: 1px black solid;
  box-shadow: 2px 2px 5px -1px #000;
  border-radius: 5px;
  background-image: url("img/map_cards.webp");
  background-position-x: 11.1111111111%;
  background-position-y: 50%;
}

.pr_map_card[data-card-id=islamic_holy_roman_empire] {
  border: 1px black solid;
  box-shadow: 2px 2px 5px -1px #000;
  border-radius: 5px;
  background-image: url("img/map_cards.webp");
  background-position-x: 22.2222222222%;
  background-position-y: 50%;
}

.pr_map_card[data-card-id=islamic_hungary] {
  border: 1px black solid;
  box-shadow: 2px 2px 5px -1px #000;
  border-radius: 5px;
  background-image: url("img/map_cards.webp");
  background-position-x: 33.3333333333%;
  background-position-y: 50%;
}

.pr_map_card[data-card-id=islamic_byzantium] {
  border: 1px black solid;
  box-shadow: 2px 2px 5px -1px #000;
  border-radius: 5px;
  background-image: url("img/map_cards.webp");
  background-position-x: 44.4444444444%;
  background-position-y: 50%;
}

.pr_map_card[data-card-id=islamic_portugal] {
  border: 1px black solid;
  box-shadow: 2px 2px 5px -1px #000;
  border-radius: 5px;
  background-image: url("img/map_cards.webp");
  background-position-x: 55.5555555556%;
  background-position-y: 50%;
}

.pr_map_card[data-card-id=islamic_aragon] {
  border: 1px black solid;
  box-shadow: 2px 2px 5px -1px #000;
  border-radius: 5px;
  background-image: url("img/map_cards.webp");
  background-position-x: 66.6666666667%;
  background-position-y: 50%;
}

.pr_map_card[data-card-id=islamic_papal_states] {
  border: 1px black solid;
  box-shadow: 2px 2px 5px -1px #000;
  border-radius: 5px;
  background-image: url("img/map_cards.webp");
  background-position-x: 77.7777777778%;
  background-position-y: 50%;
}

.pr_map_card[data-card-id=islamic_ottoman] {
  border: 1px black solid;
  box-shadow: 2px 2px 5px -1px #000;
  border-radius: 5px;
  background-image: url("img/map_cards.webp");
  background-position-x: 88.8888888889%;
  background-position-y: 50%;
}

.pr_map_card[data-card-id=islamic_mamluk] {
  border: 1px black solid;
  box-shadow: 2px 2px 5px -1px #000;
  border-radius: 5px;
  background-image: url("img/map_cards.webp");
  background-position-x: 100%;
  background-position-y: 50%;
}

.pr_map_card[data-card-id=reformist_england] {
  border: 1px black solid;
  box-shadow: 2px 2px 5px -1px #000;
  border-radius: 5px;
  background-image: url("img/map_cards.webp");
  background-position-x: 0%;
  background-position-y: 100%;
}

.pr_map_card[data-card-id=reformist_france] {
  border: 1px black solid;
  box-shadow: 2px 2px 5px -1px #000;
  border-radius: 5px;
  background-image: url("img/map_cards.webp");
  background-position-x: 11.1111111111%;
  background-position-y: 100%;
}

.pr_map_card[data-card-id=reformist_holy_roman_empire] {
  border: 1px black solid;
  box-shadow: 2px 2px 5px -1px #000;
  border-radius: 5px;
  background-image: url("img/map_cards.webp");
  background-position-x: 22.2222222222%;
  background-position-y: 100%;
}

.pr_map_card[data-card-id=reformist_hungary] {
  border: 1px black solid;
  box-shadow: 2px 2px 5px -1px #000;
  border-radius: 5px;
  background-image: url("img/map_cards.webp");
  background-position-x: 33.3333333333%;
  background-position-y: 100%;
}

.pr_map_card[data-card-id=reformist_byzantium] {
  border: 1px black solid;
  box-shadow: 2px 2px 5px -1px #000;
  border-radius: 5px;
  background-image: url("img/map_cards.webp");
  background-position-x: 44.4444444444%;
  background-position-y: 100%;
}

.pr_map_card[data-card-id=reformist_portugal] {
  border: 1px black solid;
  box-shadow: 2px 2px 5px -1px #000;
  border-radius: 5px;
  background-image: url("img/map_cards.webp");
  background-position-x: 55.5555555556%;
  background-position-y: 100%;
}

.pr_map_card[data-card-id=reformist_aragon] {
  border: 1px black solid;
  box-shadow: 2px 2px 5px -1px #000;
  border-radius: 5px;
  background-image: url("img/map_cards.webp");
  background-position-x: 66.6666666667%;
  background-position-y: 100%;
}

.pr_map_card[data-card-id=reformist_papal_states] {
  border: 1px black solid;
  box-shadow: 2px 2px 5px -1px #000;
  border-radius: 5px;
  background-image: url("img/map_cards.webp");
  background-position-x: 77.7777777778%;
  background-position-y: 100%;
}

.pr_map_card[data-card-id=reformist_ottoman] {
  border: 1px black solid;
  box-shadow: 2px 2px 5px -1px #000;
  border-radius: 5px;
  background-image: url("img/map_cards.webp");
  background-position-x: 88.8888888889%;
  background-position-y: 100%;
}

.pr_map_card[data-card-id=reformist_mamluk] {
  border: 1px black solid;
  box-shadow: 2px 2px 5px -1px #000;
  border-radius: 5px;
  background-image: url("img/map_cards.webp");
  background-position-x: 100%;
  background-position-y: 100%;
}

.pr_city {
  position: absolute;
  width: 37px;
  height: 37px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
}

.pr_city > .pr_chess_piece {
  align-self: flex-end;
}

.pr_city > .pr_rook {
  margin-bottom: 4px;
}

.pr_city > .pr_knight {
  margin-bottom: 4px;
  margin-right: 4px;
}

#pr_floating_hand_wrapper {
  position: fixed;
  bottom: 0;
  left: 0;
  transition: transform 0.8s;
  z-index: 1000;
  transform: translateY(calc(100% - 50px));
  box-shadow: 0 0 10px 1px #ff0;
  background-color: rgba(40, 39, 36, 0.78);
  border-top: 1px solid #7c5d45;
  border-right: 1px solid #7c5d45;
  border-top-right-radius: 8px;
}
#pr_floating_hand_wrapper[data-open] {
  transform: translateY(0px);
}
#pr_floating_hand_wrapper #pr_floating_hand_button_container {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  justify-content: flex-start;
  z-index: 2;
  transition: top 0.8s;
}
#pr_floating_hand_wrapper #pr_floating_hand_button_container #pr_floating_hand_button {
  border: 1px solid black;
  border-radius: 50%;
  box-shadow: 2px 2px 5px black;
  background-color: gray;
  margin: 0px 5px;
  margin-top: -38px;
  cursor: pointer;
  transform: translateY(0);
  transition: transform 0.4s, margin 0.4s;
  width: 48px;
  height: 48px;
  margin: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#pr_floating_hand_wrapper #pr_floating_hand_button_container #pr_floating_hand_button:hover {
  transform: translateY(-10px);
}
#pr_floating_hand_wrapper #pr_floating_hand_button_container #pr_floating_hand_button .pr_icon {
  width: 40px;
  height: 40px;
}
#pr_floating_hand_wrapper #pr_floating_hand_button_container #pr_floating_hand_button:hover .pr_icon {
  width: 44px;
  height: 44px;
}
#pr_floating_hand_wrapper:not([data-open]) .pr_icon {
  margin-top: 4px;
  background: url('data:image/svg+xml;utf8,<svg width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M21.47,4.35L20.13,3.79V12.82L22.56,6.96C22.97,5.94 22.5,4.77 21.47,4.35M1.97,8.05L6.93,20C7.24,20.77 7.97,21.24 8.74,21.26C9,21.26 9.27,21.21 9.53,21.1L16.9,18.05C17.65,17.74 18.11,17 18.13,16.26C18.14,16 18.09,15.71 18,15.45L13,3.5C12.71,2.73 11.97,2.26 11.19,2.25C10.93,2.25 10.67,2.31 10.42,2.4L3.06,5.45C2.04,5.87 1.55,7.04 1.97,8.05M18.12,4.25A2,2 0 0,0 16.12,2.25H14.67L18.12,10.59" /></svg>');
}
#pr_floating_hand_wrapper[data-open=hand] .pr_icon {
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M20 6.91L17.09 4L12 9.09L6.91 4L4 6.91L9.09 12L4 17.09L6.91 20L12 14.91L17.09 20L20 17.09L14.91 12L20 6.91Z" /></svg>');
}
#pr_floating_hand_wrapper:not([data-open]) #pr_floating_hand_button_container #pr_floating_hand_button {
  margin: 0px 5px;
  margin-top: -40px;
}
#pr_floating_hand_wrapper[data-open=hand] #pr_floating_hand_button_container #pr_floating_hand_button {
  margin-top: -58px;
  margin-bottom: 20px;
}
#pr_floating_hand_wrapper #pr_floating_hand {
  width: 100%;
  height: 100%;
  padding: 4px;
  padding-right: 0px;
}
#pr_floating_hand_wrapper #pr_floating_hand #pr_player_hand {
  min-width: 151px;
  min-height: 230px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
#pr_floating_hand_wrapper #pr_floating_hand #pr_player_hand .pr_card {
  position: relative !important;
  margin-right: 4px;
  flex-shrink: 0;
}
#pr_floating_hand_wrapper #pr_floating_hand #pr_player_hand .pr_card.selected {
  margin: 2px;
}
#pr_floating_hand_wrapper #pr_floating_hand #pr_player_hand .pr_card:hover {
  z-index: 4;
}

.pr_card {
  box-sizing: border-box;
  width: 151px;
  height: 230px;
  background-size: 100% 100%;
  position: absolute;
  background-repeat: no-repeat;
  border: 1px black solid;
  box-shadow: 2px 2px 5px -1px #000;
  border-radius: 5px;
}

.pr_card[data-card-id=null] {
  opacity: 0;
}

.pr_square_card {
  box-sizing: border-box;
  width: 152px;
  height: 152px;
  background-size: 100% 100%;
  position: absolute;
  background-repeat: no-repeat;
  border: 1px black solid;
  box-shadow: 2px 2px 5px -1px #000;
  border-radius: 5px;
}

.pr_square_card[data-card-id=null] {
  opacity: 0;
}

/* ------- EAST CARDS ------- */
.pr_card[data-card-id=PREN058] {
  background-image: url("img/east_cards1.webp");
  background-size: 1000% 400%;
  background-position-x: 0%;
  background-position-y: 0%;
}

.pr_card[data-card-id=PREN059] {
  background-image: url("img/east_cards1.webp");
  background-size: 1000% 400%;
  background-position-x: 11.1111111111%;
  background-position-y: 0%;
}

.pr_card[data-card-id=PREN060] {
  background-image: url("img/east_cards1.webp");
  background-size: 1000% 400%;
  background-position-x: 22.2222222222%;
  background-position-y: 0%;
}

.pr_card[data-card-id=PREN061] {
  background-image: url("img/east_cards1.webp");
  background-size: 1000% 400%;
  background-position-x: 33.3333333333%;
  background-position-y: 0%;
}

.pr_card[data-card-id=PREN062] {
  background-image: url("img/east_cards1.webp");
  background-size: 1000% 400%;
  background-position-x: 44.4444444444%;
  background-position-y: 0%;
}

.pr_card[data-card-id=PREN063] {
  background-image: url("img/east_cards1.webp");
  background-size: 1000% 400%;
  background-position-x: 55.5555555556%;
  background-position-y: 0%;
}

.pr_card[data-card-id=PREN064] {
  background-image: url("img/east_cards1.webp");
  background-size: 1000% 400%;
  background-position-x: 66.6666666667%;
  background-position-y: 0%;
}

.pr_card[data-card-id=PREN065] {
  background-image: url("img/east_cards1.webp");
  background-size: 1000% 400%;
  background-position-x: 77.7777777778%;
  background-position-y: 0%;
}

.pr_card[data-card-id=PREN066] {
  background-image: url("img/east_cards1.webp");
  background-size: 1000% 400%;
  background-position-x: 88.8888888889%;
  background-position-y: 0%;
}

.pr_card[data-card-id=PREN067] {
  background-image: url("img/east_cards1.webp");
  background-size: 1000% 400%;
  background-position-x: 100%;
  background-position-y: 0%;
}

.pr_card[data-card-id=PREN068] {
  background-image: url("img/east_cards1.webp");
  background-size: 1000% 400%;
  background-position-x: 0%;
  background-position-y: 33.3333333333%;
}

.pr_card[data-card-id=PREN069] {
  background-image: url("img/east_cards1.webp");
  background-size: 1000% 400%;
  background-position-x: 11.1111111111%;
  background-position-y: 33.3333333333%;
}

.pr_card[data-card-id=PREN070] {
  background-image: url("img/east_cards1.webp");
  background-size: 1000% 400%;
  background-position-x: 22.2222222222%;
  background-position-y: 33.3333333333%;
}

.pr_card[data-card-id=PREN071] {
  background-image: url("img/east_cards1.webp");
  background-size: 1000% 400%;
  background-position-x: 33.3333333333%;
  background-position-y: 33.3333333333%;
}

.pr_card[data-card-id=PREN072] {
  background-image: url("img/east_cards1.webp");
  background-size: 1000% 400%;
  background-position-x: 44.4444444444%;
  background-position-y: 33.3333333333%;
}

.pr_card[data-card-id=PREN073] {
  background-image: url("img/east_cards1.webp");
  background-size: 1000% 400%;
  background-position-x: 55.5555555556%;
  background-position-y: 33.3333333333%;
}

.pr_card[data-card-id=PREN074] {
  background-image: url("img/east_cards1.webp");
  background-size: 1000% 400%;
  background-position-x: 66.6666666667%;
  background-position-y: 33.3333333333%;
}

.pr_card[data-card-id=PREN075] {
  background-image: url("img/east_cards1.webp");
  background-size: 1000% 400%;
  background-position-x: 77.7777777778%;
  background-position-y: 33.3333333333%;
}

.pr_card[data-card-id=PREN076] {
  background-image: url("img/east_cards1.webp");
  background-size: 1000% 400%;
  background-position-x: 88.8888888889%;
  background-position-y: 33.3333333333%;
}

.pr_card[data-card-id=PREN077] {
  background-image: url("img/east_cards1.webp");
  background-size: 1000% 400%;
  background-position-x: 100%;
  background-position-y: 33.3333333333%;
}

.pr_card[data-card-id=PREN078] {
  background-image: url("img/east_cards1.webp");
  background-size: 1000% 400%;
  background-position-x: 0%;
  background-position-y: 66.6666666667%;
}

.pr_card[data-card-id=PREN079] {
  background-image: url("img/east_cards1.webp");
  background-size: 1000% 400%;
  background-position-x: 11.1111111111%;
  background-position-y: 66.6666666667%;
}

.pr_card[data-card-id=PREN080] {
  background-image: url("img/east_cards1.webp");
  background-size: 1000% 400%;
  background-position-x: 22.2222222222%;
  background-position-y: 66.6666666667%;
}

.pr_card[data-card-id=PREN081] {
  background-image: url("img/east_cards1.webp");
  background-size: 1000% 400%;
  background-position-x: 33.3333333333%;
  background-position-y: 66.6666666667%;
}

.pr_card[data-card-id=PREN082] {
  background-image: url("img/east_cards1.webp");
  background-size: 1000% 400%;
  background-position-x: 44.4444444444%;
  background-position-y: 66.6666666667%;
}

.pr_card[data-card-id=PREN083] {
  background-image: url("img/east_cards1.webp");
  background-size: 1000% 400%;
  background-position-x: 55.5555555556%;
  background-position-y: 66.6666666667%;
}

.pr_card[data-card-id=PREN084] {
  background-image: url("img/east_cards1.webp");
  background-size: 1000% 400%;
  background-position-x: 66.6666666667%;
  background-position-y: 66.6666666667%;
}

.pr_card[data-card-id=PREN085] {
  background-image: url("img/east_cards1.webp");
  background-size: 1000% 400%;
  background-position-x: 77.7777777778%;
  background-position-y: 66.6666666667%;
}

.pr_card[data-card-id=PREN086] {
  background-image: url("img/east_cards1.webp");
  background-size: 1000% 400%;
  background-position-x: 88.8888888889%;
  background-position-y: 66.6666666667%;
}

.pr_card[data-card-id=PREN087] {
  background-image: url("img/east_cards1.webp");
  background-size: 1000% 400%;
  background-position-x: 100%;
  background-position-y: 66.6666666667%;
}

.pr_card[data-card-id=PREN088] {
  background-image: url("img/east_cards1.webp");
  background-size: 1000% 400%;
  background-position-x: 0%;
  background-position-y: 100%;
}

.pr_card[data-card-id=PREN089] {
  background-image: url("img/east_cards1.webp");
  background-size: 1000% 400%;
  background-position-x: 11.1111111111%;
  background-position-y: 100%;
}

.pr_card[data-card-id=PREN090] {
  background-image: url("img/east_cards1.webp");
  background-size: 1000% 400%;
  background-position-x: 22.2222222222%;
  background-position-y: 100%;
}

.pr_card[data-card-id=PREN093X] {
  background-image: url("img/east_cards1.webp");
  background-size: 1000% 400%;
  background-position-x: 33.3333333333%;
  background-position-y: 100%;
}

.pr_card[data-card-id=PREN094X] {
  background-image: url("img/east_cards1.webp");
  background-size: 1000% 400%;
  background-position-x: 44.4444444444%;
  background-position-y: 100%;
}

.pr_card[data-card-id=PREN095X] {
  background-image: url("img/east_cards1.webp");
  background-size: 1000% 400%;
  background-position-x: 55.5555555556%;
  background-position-y: 100%;
}

.pr_card[data-card-id=PREN098X] {
  background-image: url("img/east_cards1.webp");
  background-size: 1000% 400%;
  background-position-x: 66.6666666667%;
  background-position-y: 100%;
}

.pr_card[data-card-id=PREN099X] {
  background-image: url("img/east_cards1.webp");
  background-size: 1000% 400%;
  background-position-x: 77.7777777778%;
  background-position-y: 100%;
}

.pr_card[data-card-id=PREN100X] {
  background-image: url("img/east_cards1.webp");
  background-size: 1000% 400%;
  background-position-x: 88.8888888889%;
  background-position-y: 100%;
}

.pr_card[data-card-id=PREN101X] {
  background-image: url("img/east_cards1.webp");
  background-size: 1000% 400%;
  background-position-x: 100%;
  background-position-y: 100%;
}

.pr_card[data-card-id=PREN102X] {
  background-image: url("img/east_cards2.webp");
  background-size: 1000% 400%;
  background-position-x: 0%;
  background-position-y: 0%;
}

.pr_card[data-card-id=PREN103X] {
  background-image: url("img/east_cards2.webp");
  background-size: 1000% 400%;
  background-position-x: 11.1111111111%;
  background-position-y: 0%;
}

.pr_card[data-card-id=PREN104X] {
  background-image: url("img/east_cards2.webp");
  background-size: 1000% 400%;
  background-position-x: 22.2222222222%;
  background-position-y: 0%;
}

.pr_card[data-card-id=PREN105X] {
  background-image: url("img/east_cards2.webp");
  background-size: 1000% 400%;
  background-position-x: 33.3333333333%;
  background-position-y: 0%;
}

.pr_card[data-card-id=PREN106X] {
  background-image: url("img/east_cards2.webp");
  background-size: 1000% 400%;
  background-position-x: 44.4444444444%;
  background-position-y: 0%;
}

.pr_card[data-card-id=PREN107X] {
  background-image: url("img/east_cards2.webp");
  background-size: 1000% 400%;
  background-position-x: 55.5555555556%;
  background-position-y: 0%;
}

.pr_card[data-card-id=PREN108X] {
  background-image: url("img/east_cards2.webp");
  background-size: 1000% 400%;
  background-position-x: 66.6666666667%;
  background-position-y: 0%;
}

.pr_card[data-card-id=PREN109X] {
  background-image: url("img/east_cards2.webp");
  background-size: 1000% 400%;
  background-position-x: 77.7777777778%;
  background-position-y: 0%;
}

.pr_card[data-card-id=PREN110X] {
  background-image: url("img/east_cards2.webp");
  background-size: 1000% 400%;
  background-position-x: 88.8888888889%;
  background-position-y: 0%;
}

.pr_card[data-card-id=PREN111X] {
  background-image: url("img/east_cards2.webp");
  background-size: 1000% 400%;
  background-position-x: 100%;
  background-position-y: 0%;
}

.pr_card[data-card-id=PREN112X] {
  background-image: url("img/east_cards2.webp");
  background-size: 1000% 400%;
  background-position-x: 0%;
  background-position-y: 33.3333333333%;
}

.pr_card[data-card-id=PREN113X] {
  background-image: url("img/east_cards2.webp");
  background-size: 1000% 400%;
  background-position-x: 11.1111111111%;
  background-position-y: 33.3333333333%;
}

.pr_card[data-card-id=PREN114X] {
  background-image: url("img/east_cards2.webp");
  background-size: 1000% 400%;
  background-position-x: 22.2222222222%;
  background-position-y: 33.3333333333%;
}

.pr_card[data-card-id=PREN115X] {
  background-image: url("img/east_cards2.webp");
  background-size: 1000% 400%;
  background-position-x: 33.3333333333%;
  background-position-y: 33.3333333333%;
}

.pr_card[data-card-id=PREN116X] {
  background-image: url("img/east_cards2.webp");
  background-size: 1000% 400%;
  background-position-x: 44.4444444444%;
  background-position-y: 33.3333333333%;
}

.pr_card[data-card-id=PREN117X] {
  background-image: url("img/east_cards2.webp");
  background-size: 1000% 400%;
  background-position-x: 55.5555555556%;
  background-position-y: 33.3333333333%;
}

.pr_card[data-card-id=PREN118X] {
  background-image: url("img/east_cards2.webp");
  background-size: 1000% 400%;
  background-position-x: 66.6666666667%;
  background-position-y: 33.3333333333%;
}

.pr_card[data-card-id=PREN119X] {
  background-image: url("img/east_cards2.webp");
  background-size: 1000% 400%;
  background-position-x: 77.7777777778%;
  background-position-y: 33.3333333333%;
}

.pr_card[data-card-id=PREN120X] {
  background-image: url("img/east_cards2.webp");
  background-size: 1000% 400%;
  background-position-x: 88.8888888889%;
  background-position-y: 33.3333333333%;
}

.pr_card[data-card-id=PREN121X] {
  background-image: url("img/east_cards2.webp");
  background-size: 1000% 400%;
  background-position-x: 100%;
  background-position-y: 33.3333333333%;
}

.pr_card[data-card-id=PREN122X] {
  background-image: url("img/east_cards2.webp");
  background-size: 1000% 400%;
  background-position-x: 0%;
  background-position-y: 66.6666666667%;
}

.pr_card[data-card-id=PREN123X] {
  background-image: url("img/east_cards2.webp");
  background-size: 1000% 400%;
  background-position-x: 11.1111111111%;
  background-position-y: 66.6666666667%;
}

.pr_card[data-card-id=PREN124X] {
  background-image: url("img/east_cards2.webp");
  background-size: 1000% 400%;
  background-position-x: 22.2222222222%;
  background-position-y: 66.6666666667%;
}

.pr_card[data-card-id=PREN125X] {
  background-image: url("img/east_cards2.webp");
  background-size: 1000% 400%;
  background-position-x: 33.3333333333%;
  background-position-y: 66.6666666667%;
}

.pr_card[data-card-id=PREN126X] {
  background-image: url("img/east_cards2.webp");
  background-size: 1000% 400%;
  background-position-x: 44.4444444444%;
  background-position-y: 66.6666666667%;
}

.pr_card[data-card-id=PREN127X] {
  background-image: url("img/east_cards2.webp");
  background-size: 1000% 400%;
  background-position-x: 55.5555555556%;
  background-position-y: 66.6666666667%;
}

.pr_card[data-card-id=PREN163X] {
  background-image: url("img/east_cards2.webp");
  background-size: 1000% 400%;
  background-position-x: 66.6666666667%;
  background-position-y: 66.6666666667%;
}

.pr_card[data-card-id=PREN164X] {
  background-image: url("img/east_cards2.webp");
  background-size: 1000% 400%;
  background-position-x: 77.7777777778%;
  background-position-y: 66.6666666667%;
}

.pr_card[data-card-id=PREN165X] {
  background-image: url("img/east_cards2.webp");
  background-size: 1000% 400%;
  background-position-x: 88.8888888889%;
  background-position-y: 66.6666666667%;
}

.pr_card[data-card-id=PREN166X] {
  background-image: url("img/east_cards2.webp");
  background-size: 1000% 400%;
  background-position-x: 100%;
  background-position-y: 66.6666666667%;
}

.pr_card[data-card-id=PREN167X] {
  background-image: url("img/east_cards2.webp");
  background-size: 1000% 400%;
  background-position-x: 0%;
  background-position-y: 100%;
}

.pr_card[data-card-id=PREN168X] {
  background-image: url("img/east_cards2.webp");
  background-size: 1000% 400%;
  background-position-x: 11.1111111111%;
  background-position-y: 100%;
}

.pr_card[data-card-id=EAST_BACK] {
  background-image: url("img/east_cards2.webp");
  background-size: 1000% 400%;
  background-position-x: 22.2222222222%;
  background-position-y: 100%;
}

.pr_card[data-card-id=EAST_COMET_1] {
  background-image: url("img/east_cards2.webp");
  background-size: 1000% 400%;
  background-position-x: 33.3333333333%;
  background-position-y: 100%;
}

.pr_card[data-card-id=EAST_COMET_2] {
  background-image: url("img/east_cards2.webp");
  background-size: 1000% 400%;
  background-position-x: 44.4444444444%;
  background-position-y: 100%;
}

/* ------- WEST CARDS ------- */
.pr_card[data-card-id=PREN001] {
  background-image: url("img/west_cards1.webp");
  background-size: 1000% 400%;
  background-position-x: 0%;
  background-position-y: 0%;
}

.pr_card[data-card-id=PREN002] {
  background-image: url("img/west_cards1.webp");
  background-size: 1000% 400%;
  background-position-x: 11.1111111111%;
  background-position-y: 0%;
}

.pr_card[data-card-id=PREN003] {
  background-image: url("img/west_cards1.webp");
  background-size: 1000% 400%;
  background-position-x: 22.2222222222%;
  background-position-y: 0%;
}

.pr_card[data-card-id=PREN004] {
  background-image: url("img/west_cards1.webp");
  background-size: 1000% 400%;
  background-position-x: 33.3333333333%;
  background-position-y: 0%;
}

.pr_card[data-card-id=PREN005] {
  background-image: url("img/west_cards1.webp");
  background-size: 1000% 400%;
  background-position-x: 44.4444444444%;
  background-position-y: 0%;
}

.pr_card[data-card-id=PREN006] {
  background-image: url("img/west_cards1.webp");
  background-size: 1000% 400%;
  background-position-x: 55.5555555556%;
  background-position-y: 0%;
}

.pr_card[data-card-id=PREN007] {
  background-image: url("img/west_cards1.webp");
  background-size: 1000% 400%;
  background-position-x: 66.6666666667%;
  background-position-y: 0%;
}

.pr_card[data-card-id=PREN008] {
  background-image: url("img/west_cards1.webp");
  background-size: 1000% 400%;
  background-position-x: 77.7777777778%;
  background-position-y: 0%;
}

.pr_card[data-card-id=PREN009] {
  background-image: url("img/west_cards1.webp");
  background-size: 1000% 400%;
  background-position-x: 88.8888888889%;
  background-position-y: 0%;
}

.pr_card[data-card-id=PREN010] {
  background-image: url("img/west_cards1.webp");
  background-size: 1000% 400%;
  background-position-x: 100%;
  background-position-y: 0%;
}

.pr_card[data-card-id=PREN011] {
  background-image: url("img/west_cards1.webp");
  background-size: 1000% 400%;
  background-position-x: 0%;
  background-position-y: 33.3333333333%;
}

.pr_card[data-card-id=PREN012] {
  background-image: url("img/west_cards1.webp");
  background-size: 1000% 400%;
  background-position-x: 11.1111111111%;
  background-position-y: 33.3333333333%;
}

.pr_card[data-card-id=PREN013] {
  background-image: url("img/west_cards1.webp");
  background-size: 1000% 400%;
  background-position-x: 22.2222222222%;
  background-position-y: 33.3333333333%;
}

.pr_card[data-card-id=PREN014] {
  background-image: url("img/west_cards1.webp");
  background-size: 1000% 400%;
  background-position-x: 33.3333333333%;
  background-position-y: 33.3333333333%;
}

.pr_card[data-card-id=PREN015] {
  background-image: url("img/west_cards1.webp");
  background-size: 1000% 400%;
  background-position-x: 44.4444444444%;
  background-position-y: 33.3333333333%;
}

.pr_card[data-card-id=PREN016] {
  background-image: url("img/west_cards1.webp");
  background-size: 1000% 400%;
  background-position-x: 55.5555555556%;
  background-position-y: 33.3333333333%;
}

.pr_card[data-card-id=PREN017] {
  background-image: url("img/west_cards1.webp");
  background-size: 1000% 400%;
  background-position-x: 66.6666666667%;
  background-position-y: 33.3333333333%;
}

.pr_card[data-card-id=PREN018] {
  background-image: url("img/west_cards1.webp");
  background-size: 1000% 400%;
  background-position-x: 77.7777777778%;
  background-position-y: 33.3333333333%;
}

.pr_card[data-card-id=PREN019] {
  background-image: url("img/west_cards1.webp");
  background-size: 1000% 400%;
  background-position-x: 88.8888888889%;
  background-position-y: 33.3333333333%;
}

.pr_card[data-card-id=PREN020] {
  background-image: url("img/west_cards1.webp");
  background-size: 1000% 400%;
  background-position-x: 100%;
  background-position-y: 33.3333333333%;
}

.pr_card[data-card-id=PREN021] {
  background-image: url("img/west_cards1.webp");
  background-size: 1000% 400%;
  background-position-x: 0%;
  background-position-y: 66.6666666667%;
}

.pr_card[data-card-id=PREN022] {
  background-image: url("img/west_cards1.webp");
  background-size: 1000% 400%;
  background-position-x: 11.1111111111%;
  background-position-y: 66.6666666667%;
}

.pr_card[data-card-id=PREN023] {
  background-image: url("img/west_cards1.webp");
  background-size: 1000% 400%;
  background-position-x: 22.2222222222%;
  background-position-y: 66.6666666667%;
}

.pr_card[data-card-id=PREN024] {
  background-image: url("img/west_cards1.webp");
  background-size: 1000% 400%;
  background-position-x: 33.3333333333%;
  background-position-y: 66.6666666667%;
}

.pr_card[data-card-id=PREN025] {
  background-image: url("img/west_cards1.webp");
  background-size: 1000% 400%;
  background-position-x: 44.4444444444%;
  background-position-y: 66.6666666667%;
}

.pr_card[data-card-id=PREN026] {
  background-image: url("img/west_cards1.webp");
  background-size: 1000% 400%;
  background-position-x: 55.5555555556%;
  background-position-y: 66.6666666667%;
}

.pr_card[data-card-id=PREN027] {
  background-image: url("img/west_cards1.webp");
  background-size: 1000% 400%;
  background-position-x: 66.6666666667%;
  background-position-y: 66.6666666667%;
}

.pr_card[data-card-id=PREN028] {
  background-image: url("img/west_cards1.webp");
  background-size: 1000% 400%;
  background-position-x: 77.7777777778%;
  background-position-y: 66.6666666667%;
}

.pr_card[data-card-id=PREN029] {
  background-image: url("img/west_cards1.webp");
  background-size: 1000% 400%;
  background-position-x: 88.8888888889%;
  background-position-y: 66.6666666667%;
}

.pr_card[data-card-id=PREN030] {
  background-image: url("img/west_cards1.webp");
  background-size: 1000% 400%;
  background-position-x: 100%;
  background-position-y: 66.6666666667%;
}

.pr_card[data-card-id=PREN031] {
  background-image: url("img/west_cards1.webp");
  background-size: 1000% 400%;
  background-position-x: 0%;
  background-position-y: 100%;
}

.pr_card[data-card-id=PREN032] {
  background-image: url("img/west_cards1.webp");
  background-size: 1000% 400%;
  background-position-x: 11.1111111111%;
  background-position-y: 100%;
}

.pr_card[data-card-id=PREN033] {
  background-image: url("img/west_cards1.webp");
  background-size: 1000% 400%;
  background-position-x: 22.2222222222%;
  background-position-y: 100%;
}

.pr_card[data-card-id=PREN034] {
  background-image: url("img/west_cards1.webp");
  background-size: 1000% 400%;
  background-position-x: 33.3333333333%;
  background-position-y: 100%;
}

.pr_card[data-card-id=PREN035] {
  background-image: url("img/west_cards1.webp");
  background-size: 1000% 400%;
  background-position-x: 44.4444444444%;
  background-position-y: 100%;
}

.pr_card[data-card-id=PREN036] {
  background-image: url("img/west_cards1.webp");
  background-size: 1000% 400%;
  background-position-x: 55.5555555556%;
  background-position-y: 100%;
}

.pr_card[data-card-id=PREN037] {
  background-image: url("img/west_cards1.webp");
  background-size: 1000% 400%;
  background-position-x: 66.6666666667%;
  background-position-y: 100%;
}

.pr_card[data-card-id=PREN038] {
  background-image: url("img/west_cards1.webp");
  background-size: 1000% 400%;
  background-position-x: 77.7777777778%;
  background-position-y: 100%;
}

.pr_card[data-card-id=PREN039] {
  background-image: url("img/west_cards1.webp");
  background-size: 1000% 400%;
  background-position-x: 88.8888888889%;
  background-position-y: 100%;
}

.pr_card[data-card-id=PREN040] {
  background-image: url("img/west_cards1.webp");
  background-size: 1000% 400%;
  background-position-x: 100%;
  background-position-y: 100%;
}

.pr_card[data-card-id=PREN041] {
  background-image: url("img/west_cards2.webp");
  background-size: 1000% 600%;
  background-position-x: 0%;
  background-position-y: 0%;
}

.pr_card[data-card-id=PREN042] {
  background-image: url("img/west_cards2.webp");
  background-size: 1000% 600%;
  background-position-x: 11.1111111111%;
  background-position-y: 0%;
}

.pr_card[data-card-id=PREN043] {
  background-image: url("img/west_cards2.webp");
  background-size: 1000% 600%;
  background-position-x: 22.2222222222%;
  background-position-y: 0%;
}

.pr_card[data-card-id=PREN044] {
  background-image: url("img/west_cards2.webp");
  background-size: 1000% 600%;
  background-position-x: 33.3333333333%;
  background-position-y: 0%;
}

.pr_card[data-card-id=PREN045] {
  background-image: url("img/west_cards2.webp");
  background-size: 1000% 600%;
  background-position-x: 44.4444444444%;
  background-position-y: 0%;
}

.pr_card[data-card-id=PREN046] {
  background-image: url("img/west_cards2.webp");
  background-size: 1000% 600%;
  background-position-x: 55.5555555556%;
  background-position-y: 0%;
}

.pr_card[data-card-id=PREN047] {
  background-image: url("img/west_cards2.webp");
  background-size: 1000% 600%;
  background-position-x: 66.6666666667%;
  background-position-y: 0%;
}

.pr_card[data-card-id=PREN048] {
  background-image: url("img/west_cards2.webp");
  background-size: 1000% 600%;
  background-position-x: 77.7777777778%;
  background-position-y: 0%;
}

.pr_card[data-card-id=PREN049] {
  background-image: url("img/west_cards2.webp");
  background-size: 1000% 600%;
  background-position-x: 88.8888888889%;
  background-position-y: 0%;
}

.pr_card[data-card-id=PREN050] {
  background-image: url("img/west_cards2.webp");
  background-size: 1000% 600%;
  background-position-x: 100%;
  background-position-y: 0%;
}

.pr_card[data-card-id=PREN051] {
  background-image: url("img/west_cards2.webp");
  background-size: 1000% 600%;
  background-position-x: 0%;
  background-position-y: 20%;
}

.pr_card[data-card-id=PREN052] {
  background-image: url("img/west_cards2.webp");
  background-size: 1000% 600%;
  background-position-x: 11.1111111111%;
  background-position-y: 20%;
}

.pr_card[data-card-id=PREN053] {
  background-image: url("img/west_cards2.webp");
  background-size: 1000% 600%;
  background-position-x: 22.2222222222%;
  background-position-y: 20%;
}

.pr_card[data-card-id=PREN054] {
  background-image: url("img/west_cards2.webp");
  background-size: 1000% 600%;
  background-position-x: 33.3333333333%;
  background-position-y: 20%;
}

.pr_card[data-card-id=PREN055] {
  background-image: url("img/west_cards2.webp");
  background-size: 1000% 600%;
  background-position-x: 44.4444444444%;
  background-position-y: 20%;
}

.pr_card[data-card-id=PREN096X] {
  background-image: url("img/west_cards2.webp");
  background-size: 1000% 600%;
  background-position-x: 55.5555555556%;
  background-position-y: 20%;
}

.pr_card[data-card-id=PREN097X] {
  background-image: url("img/west_cards2.webp");
  background-size: 1000% 600%;
  background-position-x: 66.6666666667%;
  background-position-y: 20%;
}

.pr_card[data-card-id=PREN128X] {
  background-image: url("img/west_cards2.webp");
  background-size: 1000% 600%;
  background-position-x: 77.7777777778%;
  background-position-y: 20%;
}

.pr_card[data-card-id=PREN129X] {
  background-image: url("img/west_cards2.webp");
  background-size: 1000% 600%;
  background-position-x: 88.8888888889%;
  background-position-y: 20%;
}

.pr_card[data-card-id=PREN130X] {
  background-image: url("img/west_cards2.webp");
  background-size: 1000% 600%;
  background-position-x: 100%;
  background-position-y: 20%;
}

.pr_card[data-card-id=PREN131X] {
  background-image: url("img/west_cards2.webp");
  background-size: 1000% 600%;
  background-position-x: 0%;
  background-position-y: 40%;
}

.pr_card[data-card-id=PREN132X] {
  background-image: url("img/west_cards2.webp");
  background-size: 1000% 600%;
  background-position-x: 11.1111111111%;
  background-position-y: 40%;
}

.pr_card[data-card-id=PREN133X] {
  background-image: url("img/west_cards2.webp");
  background-size: 1000% 600%;
  background-position-x: 22.2222222222%;
  background-position-y: 40%;
}

.pr_card[data-card-id=PREN134X] {
  background-image: url("img/west_cards2.webp");
  background-size: 1000% 600%;
  background-position-x: 33.3333333333%;
  background-position-y: 40%;
}

.pr_card[data-card-id=PREN135X] {
  background-image: url("img/west_cards2.webp");
  background-size: 1000% 600%;
  background-position-x: 44.4444444444%;
  background-position-y: 40%;
}

.pr_card[data-card-id=PREN136X] {
  background-image: url("img/west_cards2.webp");
  background-size: 1000% 600%;
  background-position-x: 55.5555555556%;
  background-position-y: 40%;
}

.pr_card[data-card-id=PREN137X] {
  background-image: url("img/west_cards2.webp");
  background-size: 1000% 600%;
  background-position-x: 66.6666666667%;
  background-position-y: 40%;
}

.pr_card[data-card-id=PREN138X] {
  background-image: url("img/west_cards2.webp");
  background-size: 1000% 600%;
  background-position-x: 77.7777777778%;
  background-position-y: 40%;
}

.pr_card[data-card-id=PREN139X] {
  background-image: url("img/west_cards2.webp");
  background-size: 1000% 600%;
  background-position-x: 88.8888888889%;
  background-position-y: 40%;
}

.pr_card[data-card-id=PREN140X] {
  background-image: url("img/west_cards2.webp");
  background-size: 1000% 600%;
  background-position-x: 100%;
  background-position-y: 40%;
}

.pr_card[data-card-id=PREN141X] {
  background-image: url("img/west_cards2.webp");
  background-size: 1000% 600%;
  background-position-x: 0%;
  background-position-y: 60%;
}

.pr_card[data-card-id=PREN142X] {
  background-image: url("img/west_cards2.webp");
  background-size: 1000% 600%;
  background-position-x: 11.1111111111%;
  background-position-y: 60%;
}

.pr_card[data-card-id=PREN143X] {
  background-image: url("img/west_cards2.webp");
  background-size: 1000% 600%;
  background-position-x: 22.2222222222%;
  background-position-y: 60%;
}

.pr_card[data-card-id=PREN144X] {
  background-image: url("img/west_cards2.webp");
  background-size: 1000% 600%;
  background-position-x: 33.3333333333%;
  background-position-y: 60%;
}

.pr_card[data-card-id=PREN145X] {
  background-image: url("img/west_cards2.webp");
  background-size: 1000% 600%;
  background-position-x: 44.4444444444%;
  background-position-y: 60%;
}

.pr_card[data-card-id=PREN146X] {
  background-image: url("img/west_cards2.webp");
  background-size: 1000% 600%;
  background-position-x: 55.5555555556%;
  background-position-y: 60%;
}

.pr_card[data-card-id=PREN147X] {
  background-image: url("img/west_cards2.webp");
  background-size: 1000% 600%;
  background-position-x: 66.6666666667%;
  background-position-y: 60%;
}

.pr_card[data-card-id=PREN148X] {
  background-image: url("img/west_cards2.webp");
  background-size: 1000% 600%;
  background-position-x: 77.7777777778%;
  background-position-y: 60%;
}

.pr_card[data-card-id=PREN149X] {
  background-image: url("img/west_cards2.webp");
  background-size: 1000% 600%;
  background-position-x: 88.8888888889%;
  background-position-y: 60%;
}

.pr_card[data-card-id=PREN150X] {
  background-image: url("img/west_cards2.webp");
  background-size: 1000% 600%;
  background-position-x: 100%;
  background-position-y: 60%;
}

.pr_card[data-card-id=PREN151X] {
  background-image: url("img/west_cards2.webp");
  background-size: 1000% 600%;
  background-position-x: 0%;
  background-position-y: 80%;
}

.pr_card[data-card-id=PREN152X] {
  background-image: url("img/west_cards2.webp");
  background-size: 1000% 600%;
  background-position-x: 11.1111111111%;
  background-position-y: 80%;
}

.pr_card[data-card-id=PREN153X] {
  background-image: url("img/west_cards2.webp");
  background-size: 1000% 600%;
  background-position-x: 22.2222222222%;
  background-position-y: 80%;
}

.pr_card[data-card-id=PREN154X] {
  background-image: url("img/west_cards2.webp");
  background-size: 1000% 600%;
  background-position-x: 33.3333333333%;
  background-position-y: 80%;
}

.pr_card[data-card-id=PREN155X] {
  background-image: url("img/west_cards2.webp");
  background-size: 1000% 600%;
  background-position-x: 44.4444444444%;
  background-position-y: 80%;
}

.pr_card[data-card-id=PREN156X] {
  background-image: url("img/west_cards2.webp");
  background-size: 1000% 600%;
  background-position-x: 55.5555555556%;
  background-position-y: 80%;
}

.pr_card[data-card-id=PREN157X] {
  background-image: url("img/west_cards2.webp");
  background-size: 1000% 600%;
  background-position-x: 66.6666666667%;
  background-position-y: 80%;
}

.pr_card[data-card-id=PREN158X] {
  background-image: url("img/west_cards2.webp");
  background-size: 1000% 600%;
  background-position-x: 77.7777777778%;
  background-position-y: 80%;
}

.pr_card[data-card-id=PREN159X] {
  background-image: url("img/west_cards2.webp");
  background-size: 1000% 600%;
  background-position-x: 88.8888888889%;
  background-position-y: 80%;
}

.pr_card[data-card-id=PREN160X] {
  background-image: url("img/west_cards2.webp");
  background-size: 1000% 600%;
  background-position-x: 100%;
  background-position-y: 80%;
}

.pr_card[data-card-id=PREN161X] {
  background-image: url("img/west_cards2.webp");
  background-size: 1000% 600%;
  background-position-x: 0%;
  background-position-y: 100%;
}

.pr_card[data-card-id=PREN162X] {
  background-image: url("img/west_cards2.webp");
  background-size: 1000% 600%;
  background-position-x: 11.1111111111%;
  background-position-y: 100%;
}

.pr_card[data-card-id=WEST_BACK] {
  background-image: url("img/west_cards2.webp");
  background-size: 1000% 600%;
  background-position-x: 22.2222222222%;
  background-position-y: 100%;
}

.pr_card[data-card-id=WEST_COMET_1] {
  background-image: url("img/west_cards2.webp");
  background-size: 1000% 600%;
  background-position-x: 33.3333333333%;
  background-position-y: 100%;
}

.pr_card[data-card-id=WEST_COMET_2] {
  background-image: url("img/west_cards2.webp");
  background-size: 1000% 600%;
  background-position-x: 44.4444444444%;
  background-position-y: 100%;
}

/* ------- SQUARE CARDS ------- */
.pr_square_card[data-card-id=EmpireEngland_king] {
  background-image: url("img/square_cards.webp");
  background-size: 1000% 300%;
  background-position-x: 0%;
  background-position-y: 0%;
}

.pr_square_card[data-card-id=EmpireEngland_republic] {
  background-image: url("img/square_cards.webp");
  background-size: 1000% 300%;
  background-position-x: 11.1111111111%;
  background-position-y: 0%;
}

.pr_square_card[data-card-id=EmpireFrance_king] {
  background-image: url("img/square_cards.webp");
  background-size: 1000% 300%;
  background-position-x: 22.2222222222%;
  background-position-y: 0%;
}

.pr_square_card[data-card-id=EmpireFrance_republic] {
  background-image: url("img/square_cards.webp");
  background-size: 1000% 300%;
  background-position-x: 33.3333333333%;
  background-position-y: 0%;
}

.pr_square_card[data-card-id=EmpireAragon_king] {
  background-image: url("img/square_cards.webp");
  background-size: 1000% 300%;
  background-position-x: 44.4444444444%;
  background-position-y: 0%;
}

.pr_square_card[data-card-id=EmpireAragon_republic] {
  background-image: url("img/square_cards.webp");
  background-size: 1000% 300%;
  background-position-x: 55.5555555556%;
  background-position-y: 0%;
}

.pr_square_card[data-card-id=EmpirePapalStates_king] {
  background-image: url("img/square_cards.webp");
  background-size: 1000% 300%;
  background-position-x: 66.6666666667%;
  background-position-y: 0%;
}

.pr_square_card[data-card-id=EmpirePapalStates_republic] {
  background-image: url("img/square_cards.webp");
  background-size: 1000% 300%;
  background-position-x: 77.7777777778%;
  background-position-y: 0%;
}

.pr_square_card[data-card-id=EmpirePortugal_king] {
  background-image: url("img/square_cards.webp");
  background-size: 1000% 300%;
  background-position-x: 88.8888888889%;
  background-position-y: 0%;
}

.pr_square_card[data-card-id=EmpirePortugal_republic] {
  background-image: url("img/square_cards.webp");
  background-size: 1000% 300%;
  background-position-x: 100%;
  background-position-y: 0%;
}

.pr_square_card[data-card-id=EmpireHolyRomanEmpire_king] {
  background-image: url("img/square_cards.webp");
  background-size: 1000% 300%;
  background-position-x: 0%;
  background-position-y: 50%;
}

.pr_square_card[data-card-id=EmpireHolyRomanEmpire_republic] {
  background-image: url("img/square_cards.webp");
  background-size: 1000% 300%;
  background-position-x: 11.1111111111%;
  background-position-y: 50%;
}

.pr_square_card[data-card-id=EmpireHungary_king] {
  background-image: url("img/square_cards.webp");
  background-size: 1000% 300%;
  background-position-x: 22.2222222222%;
  background-position-y: 50%;
}

.pr_square_card[data-card-id=EmpireHungary_republic] {
  background-image: url("img/square_cards.webp");
  background-size: 1000% 300%;
  background-position-x: 33.3333333333%;
  background-position-y: 50%;
}

.pr_square_card[data-card-id=EmpireOttoman_king] {
  background-image: url("img/square_cards.webp");
  background-size: 1000% 300%;
  background-position-x: 44.4444444444%;
  background-position-y: 50%;
}

.pr_square_card[data-card-id=EmpireOttoman_republic] {
  background-image: url("img/square_cards.webp");
  background-size: 1000% 300%;
  background-position-x: 55.5555555556%;
  background-position-y: 50%;
}

.pr_square_card[data-card-id=EmpireByzantium_king] {
  background-image: url("img/square_cards.webp");
  background-size: 1000% 300%;
  background-position-x: 66.6666666667%;
  background-position-y: 50%;
}

.pr_square_card[data-card-id=EmpireByzantium_republic] {
  background-image: url("img/square_cards.webp");
  background-size: 1000% 300%;
  background-position-x: 77.7777777778%;
  background-position-y: 50%;
}

.pr_square_card[data-card-id=EmpireMamluk_king] {
  background-image: url("img/square_cards.webp");
  background-size: 1000% 300%;
  background-position-x: 88.8888888889%;
  background-position-y: 50%;
}

.pr_square_card[data-card-id=EmpireMamluk_republic] {
  background-image: url("img/square_cards.webp");
  background-size: 1000% 300%;
  background-position-x: 100%;
  background-position-y: 50%;
}

.pr_square_card[data-card-id=victory_renaissance_active] {
  background-image: url("img/square_cards.webp");
  background-size: 1000% 300%;
  background-position-x: 0%;
  background-position-y: 100%;
}

.pr_square_card[data-card-id=victory_globalization_active] {
  background-image: url("img/square_cards.webp");
  background-size: 1000% 300%;
  background-position-x: 11.1111111111%;
  background-position-y: 100%;
}

.pr_square_card[data-card-id=victory_holy_active] {
  background-image: url("img/square_cards.webp");
  background-size: 1000% 300%;
  background-position-x: 22.2222222222%;
  background-position-y: 100%;
}

.pr_square_card[data-card-id=victory_imperial_active] {
  background-image: url("img/square_cards.webp");
  background-size: 1000% 300%;
  background-position-x: 33.3333333333%;
  background-position-y: 100%;
}

.pr_square_card[data-card-id=victory_age_of_byzantine_active] {
  background-image: url("img/square_cards.webp");
  background-size: 1000% 300%;
  background-position-x: 44.4444444444%;
  background-position-y: 100%;
}

.pr_square_card[data-card-id=victory_renaissance_inactive] {
  background-image: url("img/square_cards.webp");
  background-size: 1000% 300%;
  background-position-x: 55.5555555556%;
  background-position-y: 100%;
}

.pr_square_card[data-card-id=victory_globalization_inactive] {
  background-image: url("img/square_cards.webp");
  background-size: 1000% 300%;
  background-position-x: 66.6666666667%;
  background-position-y: 100%;
}

.pr_square_card[data-card-id=victory_holy_inactive] {
  background-image: url("img/square_cards.webp");
  background-size: 1000% 300%;
  background-position-x: 77.7777777778%;
  background-position-y: 100%;
}

.pr_square_card[data-card-id=victory_imperial_inactive] {
  background-image: url("img/square_cards.webp");
  background-size: 1000% 300%;
  background-position-x: 88.8888888889%;
  background-position-y: 100%;
}

.pr_square_card[data-card-id=victory_age_of_byzantine_inactive] {
  background-image: url("img/square_cards.webp");
  background-size: 1000% 300%;
  background-position-x: 100%;
  background-position-y: 100%;
}

.pr_chess_piece {
  background-repeat: no-repeat;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.5));
}

/* ------- PAWNS ------- */
.pr_pawn {
  background-image: url("img/pawns.webp");
  background-size: 400% 100%;
  width: 26px;
  height: 43px;
}

.pr_pawn[data-color=blue] {
  background-position-x: 0%;
}

.pr_pawn[data-color=green] {
  background-position-x: 33.3333333333%;
}

.pr_pawn[data-color=purple] {
  background-position-x: 66.6666666667%;
}

.pr_pawn[data-color=yellow] {
  background-position-x: 100%;
}

/* ------- RELIGION PIECES ------- */
.pr_chess_piece[data-religion=catholic] {
  background-position-x: 50%;
}

.pr_chess_piece[data-religion=islamic] {
  background-position-x: 0%;
}

.pr_chess_piece[data-religion=reformist] {
  background-position-x: 100%;
}

.pr_bishop {
  background-image: url("img/bishops.webp");
  background-size: 300% 100%;
  width: 30px;
  height: 59px;
}

.pr_knight {
  background-image: url("img/knights.webp");
  background-size: 300% 100%;
  width: 36px;
  height: 46px;
}

.pr_rook {
  background-image: url("img/rooks.webp");
  background-size: 300% 100%;
  width: 30px;
  height: 49px;
}

/* ------- PLAYER BOARD ------- */
/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * PaxRenaissance implementation : © <Your name here> <Your email address here>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * paxrenaissance.css
 *
 * PaxRenaissance stylesheet
 *
 */
#pr_player_tableaux {
  display: flex;
  flex-direction: column;
  min-height: 400px;
  min-width: 800px;
  flex-grow: 1;
}

.pr_player_tableau {
  min-height: 200px;
  background-color: ivory;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 8px;
  padding: 8px;
}

.pr_player_tableau_title {
  font-weight: bold;
  font-size: large;
  word-wrap: break-word;
  margin: 10px;
}

.pr_player_board {
  background-image: url("img/player_boards.webp");
  background-size: 200% 200%;
  height: 400px;
  width: 293px;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.5));
}

.pr_player_board[data-color=blue] {
  background-position-x: 0%;
  background-position-y: 0%;
}

.pr_player_board[data-color=green] {
  background-position-x: 100%;
  background-position-y: 0%;
}

.pr_player_board[data-color=purple] {
  background-position-x: 0%;
  background-position-y: 100%;
}

.pr_player_board[data-color=yellow] {
  background-position-x: 100%;
  background-position-y: 100%;
}

html {
  background: url("") rgb(192, 192, 192);
}

#pr_play_area {
  transform-origin: top left;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

/*# sourceMappingURL=paxrenaissance.css.map */
