@use "sass:math";
@use "sass:map";
// @use "sass:@function";

/// Map deep get
/// @author Kitty Giraudel
/// @access public
/// @param {Map} $map - Map
/// @param {Arglist} $keys - Key chain
/// @return {*} - Desired value
@function map-deep-get($map, $keys...) {
  @each $key in $keys {
    $map: map-get($map, $key);
  }
  @return $map;
}

#pr_game_map_containter {
  margin-left: 8px;
  margin-right: 8px;
  margin-bottom: 8px;
}

#pr_game_map {
  background-image: url("img/board.webp");
  background-size: 1500px 1500px;
  background-repeat: no-repeat;
  // grid-column: 1 / span 1;
  // grid-row: span 1;
  position: relative;
  height: 1500px;
  width: 1500px;
  // box-shadow: rgb(0 0 0) 2px 2px 8px;
  box-shadow: 1px 1px 5px #000;
  transform-origin: top left;
}

.pr_game_map_zoom_buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 56px;
  // background-color: yellow;
}

/* ------- MAP CARDS ------- */

.pr_map_card {
  box-sizing: border-box;
  width: 151px;
  height: 230px;
  position: absolute;
  background-size: 1000% 300%;
  background-repeat: no-repeat;
}


$map-cards: (
  1: "catholic_england",
  2: "catholic_france",
  3: "catholic_holy_roman_empire",
  4: "catholic_hungary",
  5: "catholic_byzantium",
  6: "catholic_portugal",
  7: "catholic_aragon",
  8: "catholic_papal_states",
  9: "catholic_ottoman",
  10: "catholic_mamluk",
  11: "islamic_england",
  12: "islamic_france",
  13: "islamic_holy_roman_empire",
  14: "islamic_hungary",
  15: "islamic_byzantium",
  16: "islamic_portugal",
  17: "islamic_aragon",
  18: "islamic_papal_states",
  19: "islamic_ottoman",
  20: "islamic_mamluk",
  21: "reformist_england",
  22: "reformist_france",
  23: "reformist_holy_roman_empire",
  24: "reformist_hungary",
  25: "reformist_byzantium",
  26: "reformist_portugal",
  27: "reformist_aragon",
  28: "reformist_papal_states",
  29: "reformist_ottoman",
  30: "reformist_mamluk",
);

@for $i from 1 through 30 {
  .pr_map_card[data-card-id="#{map.get($map-cards,$i)}"] {
    border: 1px black solid;
    box-shadow: 2px 2px 5px -1px #000;
    border-radius: 5px;

    background-image: url("img/map_cards.webp");
    background-position-x: math.div((($i - 1) % 10 * 100%), 9);
    background-position-y: math.div(math.floor(calc(($i - 1) / 10)) * 100%, 2);
  }
}

.pr_city {
  position: absolute;
  // background-color: yellow;
  width: 37px;
  height: 37px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  
  // opacity: 0.5;
}

.pr_city > .pr_chess_piece {
  align-self: flex-end;
}

.pr_city > .pr_rook {
  margin-bottom: 4px;
}

.pr_city > .pr_knight {
  margin-bottom: 4px;
  margin-right: 4px;
}

// @each $name, $glyph in $icons {
//   .icon-#{$name}:before {
//     display: inline-block;
//     font-family: "Icon Font";
//     content: $glyph;
//   }
// }

// #pr_location {
//   position: absolute;
//   background-color: yellow;
//   width: 30px;
//   height: 30px;
//   top: 124px;
//   left: 285px;
// }
