@use "sass:math";
/* ------- UNDO TURN ------- */

/* Cancelled notification messages */
.log.cancel {
  color: #c62828 !important;
  text-decoration: line-through;
}

/* Desktop logs */
.log.cancel .roundedbox {
  background-color: rgba(240, 186, 117, 0.6) !important;
}

/* Mobile logs */
.log.cancel.roundedbox {
  background-color: #ef9a9a;
}

.playername[data-shadow=true], .player-name[data-shadow=true] > a {
  // text-shadow: 1px 0 1px rgba(0, 0, 0, 0.6), 0 -1px 1px rgba(0, 0, 0, 0.6), 0 1px 1px rgba(0, 0, 0, 0.6), -1px 0 1px rgba(0, 0, 0, 0.6);
  text-shadow: 1px 0 1px rgba(0, 0, 0, 1), 0 -1px 1px rgba(0, 0, 0, 1), 0 1px 1px rgba(0, 0, 0, 1), -1px 0 1px rgba(0, 0, 0, 1);
}

/* ------- LOG TOKENS ------- */

// #pagemaintitletext > .pp_loyalty_icon.pp_afghan {
//   margin-bottom: -3px;
// }

#pagemaintitletext, #gameaction_status {
  .pr_icon {
    display: inline-block;
  }

  .pr_icon[data-icon="florin"] {
    --paxRenIconScale: 0.5;
    margin-bottom: -4px;
  }

  .pr_token {
    display: inline-block;
    margin-bottom: -8px;
    --paxRenTokenScale: 0.7;
  }

  .pr_one_shot {
    display: inline-block;
    margin-bottom: -14px;;
  }
}

.log > .roundedbox {
  .pr_icon {
    display: inline-block;
  }

  .pr_icon[data-icon="florin"] {
    --paxRenIconScale: 0.5;
    margin-bottom: -6px;
  }

  .pr_token {
    display: inline-block;
    --paxRenTokenScale: 0.7;
    margin-bottom: -5px;
  }

  .pr_prestige_icon {
    margin-bottom: -6px;
    --paxRenIconScale: 0.8;
  }

  .pr_tableau_op {
    --paxRenIconScale: 0.8;
  }
}

// a {
//   .pr_icon {
//     display: inline-block;
//   }

//   .pr_icon[data-icon="florin"] {
//     --paxRenIconScale: 0.5;
//     margin-bottom: -6px;
//   }
// }
