@use "sass:math";
@use "../../base";

#pr_player_tableaux {
  display: flex;
  flex-direction: column;
  min-height: 400px;
  min-width: 800px;
  // width: 100%;
  flex-grow: 1;
}

.pr_player_tableau {
  position: relative;
  min-height: 200px;
  display: flex;
  // flex-direction: row;
  flex-direction: column;
  align-items: center;
  margin: 8px;
  padding: 8px;
}

.pr_player_tableau:before {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  // background-color: ivory;
  background-color: #f8f8f8;
  z-index: -1;
}

.pr_player_tableau_title {
  font-weight: bold;
  font-size: large;
  word-wrap: break-word;
  margin: 10px;
  // margin-right: 126px;
  // flex-grow: 1;
}

.pr_player_tableau_cards_container {
  // background-color: yellow;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.pr_player_board_tableau_cards {
  min-height: 229px;
  // background-color: blue;
  flex-grow: 1;
  align-items: center;
  
}

.pr_player_board_tableau_cards[data-region=west] {
  justify-content: flex-end;
}

/**
* PLAYER BOARDS
*/

.pr_player_board {
  background-image: url("img/player_boards.webp");
  background-size: 200% 200%;
  height: 400px;
  min-width: 293px;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.5));
  margin-left: 8px;
  margin-right: 8px;
}

.pr_player_board[data-color=blue] {
  background-position-x: 0%;
  background-position-y: 0%;
}

.pr_player_board[data-color=green] {
  background-position-x: 100%;
  background-position-y: 0%;
}

.pr_player_board[data-color=purple] {
  background-position-x: 0%;
  background-position-y: 100%;
}

.pr_player_board[data-color=yellow] {
  background-position-x: 100%;
  background-position-y: 100%;
}