.pr_icon_counter_container {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.pr_icon_counter_container.pr_none {
  opacity: 0.3;
}

.pr_icon {
  background-repeat: no-repeat;
  background-image: url("img/tokens.webp");
  background-size: 180px 34px;
  width: 30px;
  height: 30px;
  /* border: 1px solid; */
  filter: drop-shadow(rgba(0, 0, 0, 0.5) 1px 1px 1px);
}

.pr_icon[data-icon=florin] {
  background-position-x: -30px;
  background-position-y: -2px;
  border-radius: 50%;
  // filter: drop-shadow(rgba(0, 0, 0, 0.5) 2px 2px 2px);
  filter: drop-shadow(1px 0px 0px black) drop-shadow(-1px 0px 0px black) drop-shadow(0px 1px 0px black) drop-shadow(0px -1px 0px black);
}

.pr_icon_counter {
  box-sizing: border-box;
  position: absolute;
  right: 0px;
  bottom: 0px;
  background-color: white;
  border-radius: 50%;
  border: solid 1px black;
  font-weight: bold;
  // font-size: large;
  min-width: 23px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1px;
}