#pr_show_settings {
  height: 50px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    color: grey;
  }
  cursor: pointer;

  svg {
    width: auto;
    height: 40px;
  }
}

#pr_show_settings {
  .fa-primary {
    transform-origin: 216px 255px;
    transition: transform 1s;
  }

  @media (hover: hover) {
    &:hover .fa-primary {
      transform: rotate(180.1deg);
    }
  }
}

#popin_settings_modal_underlay {
  background-color: #000 !important;
}

.pr_settings_modal {
  background-image: url("img/background_paper.jpg");
  background-size: cover;
  border-radius: 8px;
  box-shadow: rgb(0, 0, 0) 1px 1px 5px;
  border: 1px solid black;
  position: fixed;
  top: 15vh;
  min-width: 600px;

  .pr_settings_modal_closeicon {
    background-color: #a47a77;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -18px;
    right: -18px;
    font-size: 90%;
    color: white !important;
    border: 1px solid #dfbda8;
    cursor: pointer;

    &:hover {
      text-decoration: none;
      color: #ccc !important;
      transform: scale(1.1);
    }

    i {
      margin-top: -2px;
    }
  }

  h2 {
    text-align: center;
    font-size: large;
    font-weight: bold;
    margin: 0px;
    padding: 7px 0px;
    border-bottom: 1px solid black;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background-color: rgb(248, 248, 248, 0.5);
  }

  #setting_modal_content {
    min-height: 300px;

    .pr_settings_modal_tabs {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;

      .pr_settings_modal_tab {
        flex-grow: 1;
        width: 33.333333333%;
        background-color: rgb(30, 20, 17, 0.5);
        border-bottom: 1px solid black;
        border-left: 1px solid black;
        border-radius: 1px solid black;
        padding: 4px;
        cursor: pointer;
        display: flex;
        flex-direction: row;
        justify-content: center;

        span {
          font-weight: bold;
          font-size: large;
          // width: 100%;
          text-align: center;
          // margin-bottom: calc(var(--paxRenMapScale) * 8px);
        }
      }

      .pr_settings_modal_tab:first-child {
        border-left: none;
      }
      .pr_settings_modal_tab:last-child {
        border-right: none;
      }

      .pr_settings_modal_tab[data-state="selected"] {
        background-color: transparent;
        border-bottom: none;
        cursor: auto;
      }

      // .pr_information_modal_tab:before {
      //   content: " ";
      //   display: block;
      //   position: absolute;
      //   left: 0;
      //   top: 0;
      //   width: 100%;
      //   height: 100%;
      //   opacity: 0.6;
      //   // background-color: ivory;

      //   z-index: -1;
      // }
    }

    .player_preference_row {
      display: flex;
      flex-direction: row;
      margin-bottom: 4px;
      margin-top: 4px;

      .player_preference_row_label {
        flex-grow: 1;
        text-align: center;
        align-self: center;
        font-weight: 400;
      }

      .player_preference_row_value {
        box-sizing: border-box;
        padding: 8px 20px;
        width: 250px;

        select {
          width: 100%;
        }
      }
    }
  }

  .reserve {
    padding: 8px;
    display: flex;
    flex-wrap: wrap;
  }
}
