@use "sass:math";

.pr_chess_piece {
  // position: absolute;
  background-repeat: no-repeat;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.5));
  // opacity: 1 !important;
}

/* ------- PAWNS ------- */

.pr_disk {
  box-sizing: border-box;
  width: calc(var(--paxRenChessPieceScale) * 31px);
  height: calc(var(--paxRenChessPieceScale) * 31px);
  border-radius: 50%;
  border: 1px solid;
  // box-shadow: 2px 2px 5px -1px #000;
}

.pr_disk[data-color=black] {
  background-color: black;
}

.pr_disk[data-color=white] {
  background-color: white;
}

/* ------- PAWNS ------- */

.pr_pawn {
  background-image: url("img/pawns.webp");
  background-size: 400% 100%;
  // width: 143px;
  // height: 234px;
  // width: 30px;
  // height: 49px;
  width: calc(var(--paxRenChessPieceScale) * 26px);
  height: calc(var(--paxRenChessPieceScale) * 43px);
}

.pr_pawn[data-bank=fugger] {
  background-position-x: 0%;
}

.pr_pawn[data-bank=marchionni] {
  background-position-x: math.div(1,3) * 100%;
}

.pr_pawn[data-bank=coeur] {
  background-position-x: math.div(2,3) * 100%;
}

.pr_pawn[data-bank=medici] {
  background-position-x: 100%;
}

/* ------- RELIGION PIECES ------- */

.pr_chess_piece[data-religion=catholic] {
  background-position-x: 50%;
}

.pr_chess_piece[data-religion=islamic] {
  background-position-x: 0%;
}

.pr_chess_piece[data-religion=reformist] {
  background-position-x: 100%;
}

.pr_bishop {
  background-image: url("img/bishops.webp");
  background-size: 300% 100%;
  width: calc(var(--paxRenChessPieceScale) * 30px);
  height: calc(var(--paxRenChessPieceScale) * 59px);
}

.pr_knight {
  background-image: url("img/knights.webp");
  background-size: 300% 100%;
  max-width: calc(var(--paxRenChessPieceScale) * 36px);
  min-width: calc(var(--paxRenChessPieceScale) * 36px);
  height: calc(var(--paxRenChessPieceScale) * 46px);
}

.pr_pirate {
  background-image: url("img/pirates.webp");
  background-size: 300% 100%;
  min-width: calc(var(--paxRenChessPieceScale) * 45px);
  min-height: calc(var(--paxRenChessPieceScale) * 47px);
}

.pr_rook {
  background-image: url("img/rooks.webp");
  background-size: 300% 100%;
  width: calc(var(--paxRenChessPieceScale) * 30px);
  height: calc(var(--paxRenChessPieceScale) * 49px);
}