@use "sass:math";

.pr_token {
  // position: absolute;
  background-repeat: no-repeat;
  filter: drop-shadow(1px 0px 0px white) drop-shadow(-1px 0px 0px white) drop-shadow(0px 1px 0px white) drop-shadow(0px -1px 0px white);
  
  // opacity: 1 !important;
}

.pr_token.pr_selectable {
  filter: drop-shadow(2px 0px 0px yellow) drop-shadow(-2px 0px 0px yellow)
    drop-shadow(0px 2px 0px yellow) drop-shadow(0px -2px 0px yellow);
}

.pr_token.pr_selected,
.pr_token.pr_selectable:hover {
  filter: drop-shadow(3px 0px 0px blue) drop-shadow(-3px 0px 0px blue) drop-shadow(0px 3px 0px blue) drop-shadow(0px -3px 0px blue);
  cursor: pointer;
}

/* ------- PAWNS ------- */

.pr_disk {
  box-sizing: border-box;
  width: calc(var(--paxRenTokenScale) * 31px);
  height: calc(var(--paxRenTokenScale) * 31px);
  border-radius: 50%;
  border: 1px solid;
  // box-shadow: 2px 2px 5px -1px #000;
}

.pr_disk[data-separator="black"] {
  background-color: black;
}

.pr_disk[data-separator="white"] {
  background-color: white;
}

/* ------- PAWNS ------- */

.pr_pawn {
  background-image: url("img/pawns.webp");
  background-size: 600% 100%;
  // width: 143px;
  // height: 234px;
  // width: 30px;
  // height: 49px;
  min-width: calc(var(--paxRenTokenScale) * 26px);
  min-height: calc(var(--paxRenTokenScale) * 43px);
  max-width: calc(var(--paxRenTokenScale) * 26px);
  max-height: calc(var(--paxRenTokenScale) * 43px);
}

.pr_pawn[data-separator="fugger"] {
  background-position-x: 0%;
}

.pr_pawn[data-separator="marchionni"] {
  background-position-x: 20%;
}

.pr_pawn[data-separator="coeur"] {
  background-position-x: 40%;
}

.pr_pawn[data-separator="medici"] {
  background-position-x: 60%;
}

.pr_pawn[data-separator="berenberg"] {
  background-position-x: 80%;
}

.pr_pawn[data-separator="mendes"] {
  background-position-x: 100%;
}

/* ------- RELIGION PIECES ------- */

.pr_token[data-separator="catholic"] {
  background-position-x: 0%;
}

.pr_token[data-separator="islamic"] {
  background-position-x: 50%;
}

.pr_token[data-separator="reformist"] {
  background-position-x: 100%;
}

.pr_bishop {
  background-image: url("img/bishops.webp");
  background-size: 300% 100%;
  width: calc(var(--paxRenTokenScale) * 30px);
  height: calc(var(--paxRenTokenScale) * 59px);
}

.pr_knight {
  background-image: url("img/knights.webp");
  background-size: 300% 100%;
  max-width: calc(var(--paxRenTokenScale) * 36px);
  min-width: calc(var(--paxRenTokenScale) * 36px);
  height: calc(var(--paxRenTokenScale) * 46px);
}

.pr_pirate {
  background-image: url("img/pirates.webp");
  background-size: 300% 100%;
  min-width: calc(var(--paxRenTokenScale) * 45px);
  min-height: calc(var(--paxRenTokenScale) * 47px);
  max-width: calc(var(--paxRenTokenScale) * 45px);
  max-height: calc(var(--paxRenTokenScale) * 47px);
}

.pr_rook {
  background-image: url("img/rooks.webp");
  background-size: 300% 100%;
  width: calc(var(--paxRenTokenScale) * 30px);
  height: calc(var(--paxRenTokenScale) * 49px);
}
