/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * PaxRenaissance implementation : © <Your name here> <Your email address here>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * paxrenaissance.css
 *
 * PaxRenaissance stylesheet
 *
 */

@use "sass:math";
@use 'base';
@use 'game-map/gamemap';
@use 'hand/hand';
@use 'card-managers/cards';
@use 'icons/icons';
@use 'logs/logs';
@use 'market/market';
@use 'oneShots';
@use 'pieces';
@use 'player-manager/playerPanel';
@use 'player-manager/tableau/playerTableaux';
@use 'supply/supply';
@use 'tooltip-manager/tooltip';
@use 'icon-counter/icon-counter';
@import '../node_modules/bga-cards/bga-cards';


html {
  // background: url("") rgb(192, 192, 192);
  background-image: url("img/background_goldsmith.webp");
  background-attachment: fixed; // no scroll
  background-position: center; // where to fix picture from
  background-size: cover; // will cover screen but parts of image might be outside screen
}

#pr_play_area {  
  transform-origin: top left;
  // height: fit-content;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

:root {
  --paxRenIconScale: 1;
  --paxRenMapScale: 1;
  --paxRenCardScale: 1;
  --paxRenChessPieceScale: 1;
}