/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * PaxRenaissance implementation : © <Your name here> <Your email address here>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * paxrenaissance.css
 *
 * PaxRenaissance stylesheet
 *
 */

@use "sass:math";
@use "base";
@use "game-map/gamemap";
@use "hand/hand";
@use "card-managers/cards";
@use "icons/icons";
@use "info-panel/infoPanel";
@use "logs/logs";
@use "market/market";
@use "agentIcons";
@use "empireIcon";
@use "oneShots";
@use "pieces";
@use "tableauOps";
@use "information-modal/informationModal";
@use "open-hands-modal/openHandsModal";
@use "player-manager/playerPanel";
@use "player-manager/tableau/playerTableaux";
@use "settings/settingsModal";
@use "supply/supply";
@use "tooltip-manager/tooltip";
@use "icon-counter/icon-counter";
@use "nouislider";
@import "../node_modules/bga-cards/bga-cards";

html {
  // background: url("") rgb(192, 192, 192);
  background-image: url("img/background_goldsmith.webp");
  // background-image: url("img/background_war.webp");
  // background-image: url("img/background_cathedral.webp");
  // background-image: url("img/background_balcony.webp");
  // background-image: url("img/background_lucrezia.webp");
  // background-image: url("img/background_poison.webp");
  background-attachment: fixed; // no scroll
  background-position: center; // where to fix picture from
  background-size: cover; // will cover screen but parts of image might be outside screen
}

html[data-background-pref="none"] {
  background: url("") rgb(192, 192, 192);
}

html[data-background-pref="balcony"] {
  background-image: url("img/background_balcony.webp");
}

html[data-background-pref="cathedral"] {
  background-image: url("img/background_cathedral.webp");
}

html[data-background-pref="lucrezia"] {
  background-image: url("img/background_lucrezia.webp");
}

html[data-background-pref="goldsmith"] {
  background-image: url("img/background_goldsmith.webp");
}

html[data-background-pref="poison"] {
  background-image: url("img/background_poison.webp");
}

html[data-background-pref="war"] {
  background-image: url("img/background_war.webp");
}

:root {
  --paxRenIconScale: 1;
  // --paxRenMapScale: 1;
  --paxRenCardScale: 1;
  --paxRenTokenScale: 1;
}

#pr_play_area_container {
  padding: 4px;
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 8px;

  // [data-two-columns="disabled"] & {
  //   display: flex;
  //   flex-flow: column;
  //   align-items: center;
  // }
}

#page-title {
  min-height: 36px;
}

#pr_play_area_container[data-two-columns="disabled"] {
  display: flex;
  flex-flow: column;
  align-items: center;
}
